@font-face {
    font-family: 'stag-light';
    src: url('fonts/Stag Sans Web USCC-Light.eot');
    src: url('fonts/Stag Sans Web USCC-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Stag Sans Web USCC-Light.woff') format('woff'),
         url('fonts/Stag Sans Web USCC-Light.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stag-medium';
    src: url('fonts/Stag Sans-Medium.eot');
    src: url('fonts/Stag Sans-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Stag Sans-Medium.woff') format('woff'),
         url('fonts/Stag Sans-Medium.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stag-book';
    src: url('fonts/Stag Sans-Book.eot');
    src: url('fonts/Stag Sans-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Stag Sans-Book.woff') format('woff'),
         url('fonts/Stag Sans-Book.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stag-black';
    src: url('fonts/Stag Sans Web USCC-Black.eot');
    src: url('fonts/Stag Sans Web USCC-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/Stag Sans Web USCC-Black.woff') format('woff'),
         url('fonts/Stag Sans Web USCC-Black.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}



