/*-------------------*/
/*  SVG CART        */
/*-----------------*/

.svg-cart-background {
  fill:#EEF0F1;
  stroke:#CCE4F5;
  stroke-width:4;
  stroke-miterlimit:10;
}

.svg-cart-box-dark {
  fill:#0A4A7B;
}

.svg-cart-box-light {
  fill:#0366A5;
}

.svg-cart-cart{
  fill:#29AAE1;
}

.svg-cart-plussign circle {
  fill:#EE3241;
}

.svg-cart-plussign path {
  fill:#FFFFFF;
}

/*----------------------------*/
/*  SVG PHONE AND PIN        */
/*--------------------------*/

.svg-phonepin-background {
  fill:#EEF0F1;
  stroke:#CCE4F5;
  stroke-width:4;
  stroke-miterlimit:10;
}

.svg-phonepin-device {

}

.svg-phonepin-logo {
  circle, path {
    fill:#2EAADB;
  }
}

.svg-phonepin-pin {
  fill:#ee3040;
  clip-path: url("");
}

.svg-phonepin-devicebackground {
  fill:#a7d394;
}

.svg-phonepin-devicebody {
  fill:#0A4A7B;
}

.svg-phonepin-mic {
  fill:#FFFFFF;
}

.svg-phonepin-roads {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:0.7626;
  stroke-miterlimit:10;
}

/*----------------------------*/
/*  SVG MAGNIFY GLASS        */
/*--------------------------*/

.svg-magnify-frame, .svg-magnify-phoneframe {
  fill:#0A4A7B;
}

.svg-magnify-glass, .svg-magnify-gigaletter {
  fill:#EEF0F1;
}

.svg-magnify-phone {

}

.svg-magnify-gigabackground {
  fill:#29AAE1;
}

.svg-magnify-phonescreen {
  fill:#989898;
}

.svg-magnify-phonemic {
  fill:#FFFFFF;
}

/*----------------------------*/
/*  SVG TOUCH SCREEN         */
/*--------------------------*/

.svg-touch-screen {
  fill:#CCE4F5;
  stroke:#0A4A7B;
  stroke-miterlimit:10;
}

.svg-touch-hand {
  fill:#0366A5;
}

.svg-touch-line {
  fill:none;
  stroke:#29AAE1;
  stroke-miterlimit:10;
}


/*----------------------------*/
/*  SVG PROSPECT ICON        */
/*--------------------------*/

.svg-prsopect-background {
    fill:#29AAE1;
    stroke:#CCE4F5;
    stroke-width:3;
    stroke-miterlimit:10;
}

.svg-prospect-lines {

    path {
        fill:#231F20;
    }
}


/*----------------------------*/
/*  SVG CUSTOMER ICON        */
/*--------------------------*/

.svg-customericon-background {
  fill:#29AAE1;stroke:#CCE4F5;stroke-width:3;stroke-miterlimit:10;
}

.svg-customericon-customer {

  circle, path {
    fill:#0366A5;
  }
}

.svg-customericon-logo {

  circle, path {
    fill:#EEF0F1;
  }
}



/*----------------------------*/
/*  SVG MAP                  */
/*--------------------------*/

.svg-map-background {
  fill:#29AAE1;
}

.svg-map-land {
  fill:#A7D394;
}

.svg-map-marker {
  fill:#0366A5;
}



/*----------------------------*/
/*  SVG BURST                */
/*--------------------------*/

.svg-burst-background {
  fill:#EEF0F1;
}

.svg-burst-burst {
  fill:#C22733;
}

.svg-burst-dollar {
  fill:#F3F3F3;
}



/*----------------------------*/
/*  SVG GIGABYTE             */
/*--------------------------*/

.svg-gigabyte-background {
  fill:#CCE4F5;
}

.svg-gigabyte-deviceframe {
  fill:#0A4A7B;
}

.svg-gigabyte-devicescreen {
  fill:#989898;
}

.svg-gigabyte-devicemic {
  fill:#FFFFFF;
}

.svg-gigabyte-gbbackground {
  fill:#29AAE1;
}

.svg-gigabyte-gbletters {
  fill:#EEF0F1;
}



/*----------------------------*/
/*  SVG WRENCH               */
/*--------------------------*/

.svg-wrench-background {
  fill:#EEF0F1;
}

.svg-wrench-wrench {
  fill:#989898;
}



/*----------------------------*/
/*  SVG BILL                 */
/*--------------------------*/

.svg-bill-dollar, .svg-bill-background {
  fill:#EEF0F1;
}

.svg-bill-paper {
  fill:#CCE4F5;
  stroke:#29AAE1;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.svg-bill-fold {
  fill:#29AAE1;
}

.svg-bill-dollarbackround {
  fill:#A7D394;
}



/*----------------------------*/
/*  SVG BAG                  */
/*--------------------------*/

.svg-bag-background {
  fill:#EEF0F1;
}

.svg-bag-deviceframe {
  fill:#0A4A7B;
}

.svg-bag-devicescreen {
  fill:#989898;
}

.svg-bag-device-mic {
  fill:#FFFFFF;
}

.svg-bag-bagside {
  fill:#0366A5;
}

.svg-bag-bagfront {
  fill:#29AAE1;
}

.svg-bag-baghandle {
  fill:none;
  stroke:#0366A5;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.svg-bag-baglogo {
  fill:#EE3241;
}



/*----------------------------*/
/*  SVG STORE                */
/*--------------------------*/

.svg-store-background {
  fill:#CCE4F5;
}

.svg-store-structure {
  fill:#014C79;
}

.svg-store-logo {

  path, circle {
    fill:#EEF0F1;
  }
}

.svg-store-door, .svg-store-window {
  fill:#FFFFFF;
}

.svg-store-man {
  fill:#333333;
}



/*----------------------------*/
/*  SVG HANDSET              */
/*--------------------------*/

.svg-handset-background {
  fill:#CCE4F5;
}

.svg-handset-handset {
  fill:#0A4A7B;
}

.svg-handset-soundwave {
  fill:none;
  stroke:#0A4A7B;
  stroke-miterlimit:10;
}



/*----------------------------*/
/*  SVG LAPTOP               */
/*--------------------------*/

.svg-laptop-background {
  fill:#CCE4F5;
  stroke:#C22733;
  stroke-width:3;
  stroke-miterlimit:10;
}

.svg-laptop-computerfront, .svg-laptop-computerscreen-group path {
  fill:#033956;
}

.svg-laptop-computerkeyboard {
  fill:#0A4A7B;
}

.svg-laptop-phonescreen, .svg-laptop-computerscreen-group rect {
  fill:#EEF0F1;
}

.svg-laptop-phonelogo, .svg-laptop-computerlogo {
  path, circle {
    fill:#0366A5;
  }
}

.svg-laptop-computermouse, .svg-laptop-phoneframe {
  fill:#0366A5;
}

.svg-laptop-phonemic {
  fill:#FFFFFF;
}
